In [1]:
%logstop
%logstart -ortq ~/.logs/dw.py append
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [4]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [5]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

mkdir: cannot create directory ‘dw-data’: File exists
File ‘./dw-data/201701scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/201606scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/practices.csv.gz’ already there; not retrieving.

File ‘./dw-data/chem.csv.gz’ already there; not retrieving.

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [6]:
import pandas as pd
import numpy as np
import gzip

In [7]:
# type(scripts.quantity)

In [8]:
# load the 2017 data
with gzip.open ('./dw-data/201701scripts_sample.csv.gz', 'rb') as f:
    scripts = pd.read_csv(f)

In [9]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']

with gzip.open('./dw-data/practices.csv.gz', 'rb') as f:
    practices = pd.read_csv(f, names = col_names)

In [10]:
with gzip.open('./dw-data/chem.csv.gz', 'rb') as f:
    chem = pd.read_csv(f)

In [11]:
practices.head(3)

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [12]:
# scripts['items'] = scripts['items'].astype(int, inplace=True)
# type(scripts['items'])
# scripts.columns

In [13]:
# type(scripts['items'])

In [14]:
#convert column items in scripts to series
x=pd.Series(scripts['items'])
scripts.items=x
# x.sum()

In [15]:
items_total = scripts.items.sum()
items_mean = scripts.items.mean()
items_std = scripts.items.std()
items_25 = scripts.items.quantile(.25)
items_median = scripts.items.quantile(.50)
items_q75 = scripts.items.quantile(.75)

In [16]:
qty_total = scripts.quantity.sum()
qty_mean = scripts.quantity.mean()
qty_std = scripts.quantity.std()
qty_25 = scripts.quantity.quantile(.25)
qty_median = scripts.quantity.quantile(.50)
qty_q75 = scripts.quantity.quantile(.75)

In [17]:
# nic = tuple(scripts.nic.describe())
nic_total = scripts.nic.sum()
nic_mean = scripts.nic.mean()
nic_std = scripts.nic.std()
nic_q25 = scripts.nic.quantile(.25)
nic_median = scripts.nic.quantile(.50)
nic_q75 = scripts.nic.quantile(.75)

In [18]:
# act_cost = tuple(scripts.act_cost.describe())
act_cost_total = scripts.act_cost.sum()
act_cost_mean = scripts.act_cost.mean()
act_cost_std = scripts.act_cost.std()
act_cost_q25 = scripts.act_cost.quantile(.25)
act_cost_median = scripts.act_cost.quantile(.50)
act_cost_q75 = scripts.act_cost.quantile(.75)

In [19]:
summary_stats=[('items',(items_total,items_mean,items_std,items_25,items_median,items_q75)),
               ('quantity',(qty_total,qty_mean,qty_std,qty_25,qty_median,qty_q75)),
               ('nic',(nic_total,nic_mean,nic_std,nic_q25,nic_median,nic_q75)),
               ('act_cost',(act_cost_total,act_cost_mean,act_cost_std,act_cost_q25,act_cost_median,act_cost_q75))
              ]

In [20]:
# summar_stats = scripts.items.agg({'items': {'sum','mean','std',}})
# summar_stats

In [21]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score:  1.0
==================

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [22]:
bnf_calc =dict(scripts.groupby('bnf_name')['items'].sum())
most_common_item = ['', 0]

In [23]:
for k, v in bnf_calc.items():
        if v >  most_common_item[1]:
            most_common_item[0]= k
            most_common_item[1]= v
most_common_item = [tuple(most_common_item)]
print(most_common_item)

[('Omeprazole_Cap E/C 20mg', 218583)]

In [24]:
grader.score.dw__most_common_item(most_common_item)

==================
Your score:  1.0
==================

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [25]:
practices.head(1)

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU

In [26]:
#checking for duplicate values
duplicates = practices['post_code'].duplicated().any()
duplicates

True

In [27]:
#dropping duplicated values in post_code and sorting by post_code
sort_postcode = practices.sort_values('post_code').drop_duplicates(subset='code', keep='first')

In [28]:
#check if duplicates remain
# it would only print header if all duplicated values are gone
sort_postcode[sort_postcode['code'].duplicated()].sort_values('code')

Empty DataFrame
Columns: [code, name, addr_1, addr_2, borough, village, post_code]
Index: []

In [29]:
#merge scripts to practices
merged = scripts.merge(sort_postcode, left_on = 'practice', right_on = 'code')
merged.head(2)

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,code,name,addr_1,addr_2,borough,village,post_code
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF

In [30]:
# Note some postal codes may have multiple 'bnf_name' with the same prescription rate for the maximum. 
#In this case, take the alphabetically first 'bnf_name'

items_by_post_code = merged.groupby(['post_code', 'bnf_name'])[['items']].sum()
items_by_post_code.reset_index(inplace=True)

In [31]:
total_max_items = items_by_post_code.groupby('post_code')[['items']].max()
total_max_items.reset_index(inplace=True)
print(total_max_items.duplicated().any())
total_max_items.head()

False

  post_code  items
0   B11 4BW    706
1   B12 9LP    425
2   B18 7AL    556
3   B21 9RY   1033
4   B23 6DJ    599

In [32]:
total_items = total_max_items.merge(items_by_post_code, on = ['post_code','items'], how = 'left')
#check for duplicates
print(total_items.duplicated().any())
total_items.head()

False

  post_code  items                            bnf_name
0   B11 4BW    706  Salbutamol_Inha 100mcg (200 D) CFF
1   B12 9LP    425                   Paracet_Tab 500mg
2   B18 7AL    556  Salbutamol_Inha 100mcg (200 D) CFF
3   B21 9RY   1033             Metformin HCl_Tab 500mg
4   B23 6DJ    599    Lansoprazole_Cap 30mg (E/C Gran)

In [33]:
total_items.sort_values('post_code').head()

  post_code  items                            bnf_name
0   B11 4BW    706  Salbutamol_Inha 100mcg (200 D) CFF
1   B12 9LP    425                   Paracet_Tab 500mg
2   B18 7AL    556  Salbutamol_Inha 100mcg (200 D) CFF
3   B21 9RY   1033             Metformin HCl_Tab 500mg
4   B23 6DJ    599    Lansoprazole_Cap 30mg (E/C Gran)

In [34]:
postal_sum = items_by_post_code.groupby('post_code')[['items']].sum()
postal_sum.reset_index(inplace = True)
print(postal_sum.shape)
print(postal_sum.duplicated().any())
postal_sum.head()

(259, 2)
False

  post_code  items
0   B11 4BW  22731
1   B12 9LP  17073
2   B18 7AL  20508
3   B21 9RY  31027
4   B23 6DJ  28011

In [35]:
# # #find proportion of total
merged2 = postal_sum.merge(total_items, on = 'post_code', how='left')
merged2.head()

  post_code  items_x  items_y                            bnf_name
0   B11 4BW    22731      706  Salbutamol_Inha 100mcg (200 D) CFF
1   B12 9LP    17073      425                   Paracet_Tab 500mg
2   B18 7AL    20508      556  Salbutamol_Inha 100mcg (200 D) CFF
3   B21 9RY    31027     1033             Metformin HCl_Tab 500mg
4   B23 6DJ    28011      599    Lansoprazole_Cap 30mg (E/C Gran)

In [36]:
merged2['prop %'] = merged2['items_y'].astype(float)/merged2['items_x'].astype(float)
merged2.head(2)

  post_code  items_x  items_y                            bnf_name    prop %
0   B11 4BW    22731      706  Salbutamol_Inha 100mcg (200 D) CFF  0.031059
1   B12 9LP    17073      425                   Paracet_Tab 500mg  0.024893

In [37]:
result = merged2.drop(['items_x', 'items_y'], axis=1).head(100)
print(result.shape)
values=result.values.tolist()
# values[0:10]

(100, 3)

In [38]:
final_result=[]

for item in values:
    final_result.append(tuple(item))

In [39]:
items_by_region = final_result

In [40]:
grader.score.dw__items_by_region(items_by_region)

==================
Your score:  1.0
==================

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [41]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [42]:
print(chem.shape)
chem.head(3)

(3487, 2)

    CHEM SUB                 NAME
0  0101010A0      Alexitol Sodium
1  0101010B0           Almasilate
2  0101010C0  Aluminium Hydroxide

In [43]:
print(scripts.shape)
scripts.head(3)

(973193, 7)

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1

In [44]:
chem2 = chem.copy()
script2 = scripts.copy()

In [45]:
opioids_join = '|'.join(opioids)
opioids_join

'morphine|oxycodone|methadone|fentanyl|pethidine|buprenorphine|propoxyphene|codeine'

In [46]:
opioid_codes = chem.loc[chem['NAME'].str.contains(opioids_join, case=False)]['CHEM SUB'].tolist()

In [47]:
script2['opioid_flag'] = script2['bnf_code'].apply(lambda x: x in opioid_codes )
len(script2)
script2.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,opioid_flag
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,False

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [48]:
opioid_prop = script2.groupby('practice')['opioid_flag'].mean().rename('opioid_prop')
opioid_prop.head()

practice
A81005    0.033179
A81007    0.043329
A81011    0.046556
A81012    0.042793
A81017    0.038140
Name: opioid_prop, dtype: float64

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [49]:
overall_mean = script2['opioid_flag'].mean()
mean_diff = (opioid_prop - overall_mean).rename('mean_diff')
overall_mean

0.03580276471367961

In [50]:
mean_diff.head()

practice
A81005   -0.002624
A81007    0.007526
A81011    0.010753
A81012    0.006990
A81017    0.002337
Name: mean_diff, dtype: float64

In [51]:
opioid_prop.head()

practice
A81005    0.033179
A81007    0.043329
A81011    0.046556
A81012    0.042793
A81017    0.038140
Name: opioid_prop, dtype: float64

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [52]:
opioid_std = script2.groupby('practice')['opioid_flag'].std().rename('opioid_std')
overall_std = script2['opioid_flag'].std()
print(overall_std)
opioid_std.head()

0.18579817605238425

practice
A81005    0.179162
A81007    0.203666
A81011    0.210753
A81012    0.202466
A81017    0.191578
Name: opioid_std, dtype: float64

In [53]:
opioid_sum = script2.groupby('practice')['opioid_flag'].sum().rename('opioid_sum')
opioid_sum.head()

practice
A81005    50.0
A81007    63.0
A81011    73.0
A81012    57.0
A81017    82.0
Name: opioid_sum, dtype: float64

In [54]:
opioid_total = script2.groupby('practice')['opioid_flag'].count().rename('opioid_total')
opioid_total.head()

practice
A81005    1507
A81007    1454
A81011    1568
A81012    1332
A81017    2150
Name: opioid_total, dtype: int64

In [55]:
standard_error_per_practice = overall_std/(opioid_total**0.5).rename('std_err')
standard_error_per_practice.head()

practice
A81005    0.004786
A81007    0.004873
A81011    0.004692
A81012    0.005091
A81017    0.004007
Name: std_err, dtype: float64

In [56]:
opioid_scores = (mean_diff/standard_error_per_practice).rename('opioid_scores')
opioid_scores.head()

practice
A81005   -0.548306
A81007    1.544557
A81011    2.291795
A81012    1.373060
A81017    0.583168
Name: opioid_scores, dtype: float64

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [57]:
merged = pd.concat([opioid_sum, opioid_total, mean_diff, opioid_prop, standard_error_per_practice,opioid_scores], axis =1
                ).reset_index()

In [58]:
merged.head()

,practice,opioid_sum,opioid_total,mean_diff,opioid_prop,std_err,opioid_scores
0,A81005,50.0,1507,-0.002624,0.033179,0.004786,-0.548306
1,A81007,63.0,1454,0.007526,0.043329,0.004873,1.544557
2,A81011,73.0,1568,0.010753,0.046556,0.004692,2.291795
3,A81012,57.0,1332,0.006990,0.042793,0.005091,1.373060
4,A81017,82.0,2150,0.002337,0.038140,0.004007,0.583168

In [59]:
pract = practices[['code', 'name']]
pract.head()

     code                        name
0  A81001         THE DENSHAM SURGERY
1  A81002  QUEENS PARK MEDICAL CENTRE
2  A81003   VICTORIA MEDICAL PRACTICE
3  A81004      WOODLANDS ROAD SURGERY
4  A81005          SPRINGWOOD SURGERY

In [60]:
final_df = merged.merge(pract, left_on='practice', right_on='code', how='left').drop('code', axis =1)
final_df.sort_values('opioid_scores', ascending = False , inplace=True)
final_df.head()

,practice,opioid_sum,opioid_total,mean_diff,opioid_prop,std_err,opioid_scores,name
829,Y01852,6.0,7,0.821340,0.857143,0.070225,11.695818,NATIONAL ENHANCED SERVICE
874,Y03006,2.0,2,0.964197,1.000000,0.131379,7.339043,OUTREACH SERVICE NH / RH
895,Y03668,11.0,60,0.147531,0.183333,0.023986,6.150582,BRISDOC HEALTHCARE SERVICES OOH
296,G81703,7.0,36,0.158642,0.194444,0.030966,5.123032,H&R P C SPECIAL SCHEME
948,Y04997,28.0,321,0.051425,0.087227,0.010370,4.958866,HMR BARDOC OOH

In [61]:
unique_practices = final_df.drop_duplicates('name', keep='first')
anomalies = [("NATIONAL ENHANCED SERVICE", 11.6958178629, 7)] * 100

In [62]:
unique_practices.head()

,practice,opioid_sum,opioid_total,mean_diff,opioid_prop,std_err,opioid_scores,name
829,Y01852,6.0,7,0.821340,0.857143,0.070225,11.695818,NATIONAL ENHANCED SERVICE
874,Y03006,2.0,2,0.964197,1.000000,0.131379,7.339043,OUTREACH SERVICE NH / RH
895,Y03668,11.0,60,0.147531,0.183333,0.023986,6.150582,BRISDOC HEALTHCARE SERVICES OOH
296,G81703,7.0,36,0.158642,0.194444,0.030966,5.123032,H&R P C SPECIAL SCHEME
948,Y04997,28.0,321,0.051425,0.087227,0.010370,4.958866,HMR BARDOC OOH

In [63]:
result= unique_practices[['name', 'opioid_scores', 'opioid_total']]
result.head()

                                name  opioid_scores  opioid_total
829        NATIONAL ENHANCED SERVICE      11.695818             7
874         OUTREACH SERVICE NH / RH       7.339043             2
895  BRISDOC HEALTHCARE SERVICES OOH       6.150582            60
296           H&R P C SPECIAL SCHEME       5.123032            36
948                   HMR BARDOC OOH       4.958866           321

In [64]:
result_list=result.values.tolist()
result_list[:2]

[['NATIONAL ENHANCED SERVICE', 11.695817862936027, 7],
 ['OUTREACH SERVICE NH / RH', 7.339043019238823, 2]]

In [65]:
anomal = []
for i in result_list[:100]:
    anomal.append(tuple(i))

In [66]:
grader.score.dw__script_anomalies(anomal)

==================
Error!
You have been rate limited for exceeding the limit of 3 per 1 minute.
Please slow down your submission rate.
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [145]:
# load the 2016 data
with gzip.open ('./dw-data/201606scripts_sample.csv.gz', 'rb') as f:
    scripts16 = pd.read_csv(f)

In [146]:
script06 = scripts16.copy()
script06.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85638,0301011R0,Salamol_Inha 100mcg (200 D) CFF (Teva),2,2.92,2.73,2
1,N85638,0301011R0,Easyhaler_Salbutamol Sulf 200mcg (200D),1,6.63,6.15,1
2,N85638,0301020I0,Ipratrop Brom_Inh Soln 500mcg/2ml Ud,1,1.77,1.75,12
3,N85638,0301020I0,Ipratrop Brom_Inh Soln 250mcg/1ml Ud,1,4.47,4.15,20
4,N85638,0302000C0,Clenil Modulite_Inha 50mcg (200D),1,3.70,3.44,1

In [147]:
script07= scripts.copy()
script07.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [165]:
#calculate growth rate
growth_rate = (script07.bnf_name.value_counts() - script06.bnf_name.value_counts())/script06.bnf_name.value_counts()

In [173]:
growth_frame = pd.DataFrame(dict(growth_ = growth_rate, yr2016 = script06.bnf_name.value_counts())).reset_index()
growth_frame.fillna(0, inplace = True)

In [176]:
#  Filter out any items that were prescribed less than 50 times.
ahead_50=growth_frame[growth_frame['yr2016']>=50]

In [182]:
#sort by growth_rate
ahead_50.sort_values(by='growth_', ascending = False, inplace=True)
ahead_50.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                          index   growth_  yr2016
1985            Butec_Transdermal Patch 5mcg/hr  3.467742    62.0
1983           Butec_Transdermal Patch 10mcg/hr  3.000000    69.0
5742   Fostair NEXThaler_Inh 200mcg/6mcg (120D)  1.430233    86.0
11270     Pneumococcal_Vac 0.5ml Vl (23 Valent)  1.269430   193.0
13357  Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev  1.269231    52.0

In [179]:
#Pick the top 50 and last 50 and get the tuple list
script_growth = list(pd.concat([ahead_50.head(50), ahead_50.tail(50)]).itertuples(index=False, name=None))
script_growth[:3]

[('Butec_Transdermal Patch 5mcg/hr', 3.467741935483871, 62.0),
 ('Butec_Transdermal Patch 10mcg/hr', 3.0, 69.0),
 ('Fostair NEXThaler_Inh 200mcg/6mcg (120D)', 1.430232558139535, 86.0)]

In [180]:
grader.score.dw__script_growth(script_growth)

==================
Your score:  1.0
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [183]:
practices_unique = practices.sort_values(['code', 'post_code']).drop_duplicates(subset='code')

group_by_bnf_code = scripts.groupby(['bnf_code'])['bnf_code'].count().reset_index(name='bnf_code_count')
group_by_bnf_code['p'] = group_by_bnf_code['bnf_code_count'] / len(scripts)
px = 1 / len(group_by_bnf_code)

group_by_bnf_code['rare'] = np.where(group_by_bnf_code['p'] < 0.1 * px, True, False)
scripts_rare = pd.merge(scripts, group_by_bnf_code, how = 'inner', on = 'bnf_code')

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [184]:
total_cost_by_practice = scripts_rare.groupby('practice')['act_cost'].sum().reset_index(name = 'total_cost')

rare_cost_by_practice = scripts_rare[scripts_rare['rare'] == True].groupby(
    'practice')['act_cost'].sum().reset_index(name = 'rare_cost')

script_cost_by_practice = pd.merge(total_cost_by_practice, rare_cost_by_practice, on = 'practice', how='left')

script_cost_by_practice.fillna(0, inplace=True)

script_cost_by_practice['rare_cost_prop'] = (
    script_cost_by_practice['rare_cost'] / script_cost_by_practice['total_cost'])

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [185]:
total_cost = scripts_rare['act_cost'].sum()
total_rare_cost = scripts_rare[scripts_rare['rare'] == True]['act_cost'].sum()

overall_rare_cost = total_rare_cost / total_cost
script_cost_by_practice['relative_rare_cost_prop'] = script_cost_by_practice['rare_cost_prop'] - overall_rare_cost

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [186]:
script_cost_by_practice['standard_errors'] = script_cost_by_practice['relative_rare_cost_prop'].std()

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [187]:
script_cost_by_practice['z_scores'] = script_cost_by_practice['relative_rare_cost_prop'] / script_cost_by_practice['standard_errors']
print(script_cost_by_practice.shape)
practices_unique = practices.sort_values('name').groupby('code', sort=False).first()
practices_unique.reset_index(inplace=True)
merge_script_practice_z_scores = script_cost_by_practice.merge(
    practices_unique[['name', 'code']], how = 'inner', left_on = 'practice', right_on = 'code', sort = False)

print(merge_script_practice_z_scores.shape)
merge_script_practice_z_scores = merge_script_practice_z_scores.sort_values('name', ascending = True)
merge_script_practice_z_scores.drop_duplicates(subset = ['code', 'name'], inplace = True)

(856, 7)
(856, 9)

In [188]:
rare_scripts = []
for index, row in merge_script_practice_z_scores.iterrows():
    rare_scripts.append(
        (row['practice'], 
         row['name'],
         row['z_scores']))

rare_scripts = sorted(rare_scripts, key=lambda x: x[2], reverse = True)[:100]

In [189]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score:  1.0
==================

*Copyright &copy; 2019 The Data Incubator.  All rights reserved.*